<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brewery Tour</title>
	<meta charset ="utf-8"/>
	
	<link rel="stylesheet" href="style.css" type ="text/css"/>
	<meta name ="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body class="body">
	<header class="mainheader">
		<img src="img/logo.jpg">
		<nav><ul>
			<li class="active"><a href="#">Home</a><li>
			<li><a href="story.html">Story</a><li>
			<li><a href="pictures.html">pictures</a><li>
			<!--<li><a href="VR/webGL build/index.html">tour</a><li>-->
			<li><a href="futureWork.txt" download="futureWork.txt">app</a><li>
		</ul></nav>
	</header>
	
	<div class="maincontent">
		<div class ="content">
			<article class="topcontent">
				<header>
					<h2><a href="#"title ="First post">Introduction I</a></h2>
				</header>
				
				<footer>
					<p class ="post-info">This post is referenced from online material</p>
				</footer>
				
				<content>
					<p>
					One of the oldest breweries in Canada, in a massive ironstone and granite building (c 1820). Animators in period costume and character bring 1863 Halifax to life in song and story as they lead guests through Alexander Keith’s beautifully detailed brewhouse and taproom (1-hr tours for all ages, with samples).
					<img src="img/download.jpeg">
					</p>
				<content>
			</article>
			
			<article class="bottomcontent">
				<header>
					<h2><a href="#"title ="Second post">Introducton II </a></h2>
				</header>
				
				<footer>
					<p class ="post-info">This post is referenced from online material</p>
				</footer>
				
				<content>
					<p>
						Founded in 1820, Alexander Keith's is a brewery in Halifax, Canada. It is one of the oldest commercial breweries in all of North America.[citation needed] It was founded by Alexander Keith who emigrated from Scotland in 1817. Today, the brewery is under the control of Labatt, a subsidiary of Anheuser–Busch InBev. The brewery also produces Oland Brewery beers, distributed in Eastern Canada.
					</p>
					<p>
						In April 2011, Anheuser–Busch InBev began selling Alexander Keith's beer in the United States after nearly two centuries of being available in Canada alone.[1]


					</p>
					<p>
						Keith's brewery produces Keith's India Pale Ale, Keith's Red Amber Ale, Keith's Premium White, Keith's Light Ale,[2] and Keith's Nova Scotia Style Pale Ale, Keith's Nova Scotia Style Lager, and Keith's Nova Scotia Style Brown Ale for US markets. Keith's first, most popular, and most widely distributed beer is its India Pale Ale.[3] Keith's has also produced Keith's Ambrosia Blonde, Keith's Harvest Ale, and Keith's Tartan Ale as seasonal brews. Originally brewed in the Halifax brewery, Anheuser–Busch InBev expanded production of Alexander Keith's beers to breweries in Ontario (London), Quebec (Montreal), Newfoundland (St. John's), British Columbia (Creston), and New York State (Baldwinsville),[1][nb 1] in addition to the original Halifax brewery which now produces beer for all of the Maritime provinces.
					</p>
				<content>
			</article>
		</div>
	</div>
	<aside class="top-sidebar">
		<article>
			<h2>News</h2>
			<p>
				news needs to be added later
			</p>
		</article>
	</aside>
	<aside class="middle-sidebar">
		<article>
			<h2>Open hours&&<br>Location</h2>
			<h3 font_size=90%>open hours:<br></h3>
			<p>Monday:   12–8:30PM<br>
			   Tuesday:   12–8:30PM<br>
			   Wednesday: 12–8:30PM<br>
			   Thursday:  12–8:30PM<br>
			   Friday:    12–8:30PM<br>
			   Saturday:  12–8:30PM<br>
			   Sunday:    12–5PM<br></p>

			<h3>location in map:<br></h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1419.3471707596582!2d-63.571394843959965!3d44.64416378834959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5a2224d1deec4b%3A0x2982ce0dc30d3b16!2sAlexander+Keith&#39;s!5e0!3m2!1sen!2sus!4v1479440884661" width="230" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
		</article>
	</aside>
	<aside class="bottom-sidebar">
		<article>
			<h2>Reservation</h2>
			<p>
				If you are interested in our brewery tour, welcome to make a reservation by clicking the following "reservation".
				<a href="info.html">reservation</a>
			</p>
		</article>
	</aside>
	<footer class="mainfooter">
		<p>Copyright: <a href ="#" title="jluo">Jing Luo</a></p>
	</footer>
	
</body>

</html>
