<!DOCTYPE html>
<html>
	<head>
		<title>pictures</title>
		<link rel="stylesheet" href="style.css" type ="text/css"/>
	</head>
	<body>		
	<div class="maincontent">
		<div class ="content">
			<article class="topcontent">
				<header>
					<h2><a href="#"title ="food&&beer">Pictures</a></h2>
				</header>
				
				<footer>
					<p class ="post-info">This post is writtern by jluo</p>
				</footer>
				
				<content>
					<p>
						<img src="img/IMG_20161120_144336.jpg ">
						<img src="img/IMG_20161120_144532.jpg">
						<img src="img/IMG_20161120_144536.jpg ">
						<img src="img/IMG_20161120_144556.jpg">
						<img src="img/IMG_20161120_144606.jpg">
						<img src="img/IMG_20161120_144646.jpg">
						<img src="img/IMG_20161120_144702.jpg ">
						<img src="img/IMG_20161120_144721.jpg">
						<img src="img/IMG_20161120_144750.jpg">
						<img src="img/IMG_20161120_144908.jpg">
						<img src="img/IMG_20161120_144921.jpg">
						<a href="brewery_tour.html">Back to Homepage</a>
					</p>
				<content>
			</article>
		
		</div>
	</div>
	</body>
	
</html>
