<!DOCTYPE html>
<html>
	<head>
		<title>story</title>
		<link rel="stylesheet" href="style.css" type ="text/css"/>
	</head>
	<body>		
	<div class="maincontent">
		<div class ="content">
			<article class="topcontent">
				<header>
					<h2><a href="#"title ="story"> Story</a></h2>
				</header>
				
				<footer>
					<p class ="post-info">This post is referenced from online material</p>
				</footer>
				
				<content>
					<p>
					1795: Alexander Keith is born in Halkirk, Scotland on October 5.<br>
					1812: At the age of seventeen, Keith travels to Sunderland, England where his uncle teaches him the brewerying and malting business.<br>
					1817: Keith sets sail across the Atlantic and arrives on the shores of Nova Scotia.<br>
					1820: Alexander Keith's Nova Scotia Brewery opens its doors for the first time.<br>
					1840: In recognition of Keith's political and social involvement, Queen Victoria appoints him to the Legislative Councile of Nova Scotia. He serves this post for the next 13 years.<br>
					1843: Alxander Keith is elected Mayor of Halifax.<br>
					1853: Keith is re-elected as Mayor.<br>
					1863: keith's Brewery on Lower Water Street is producing over 100,000 litres of ale pr year. That's equivalent to about 1,700 modern kegs annually or, on average, 547 pints of beer a day.<br>
				 	1867:47 years after the establishment of Alexander Keith's Birthday. Canada establishes itself as a nation.<br>
					1869: An active member of the Freemasons for many years. Keith rises through the ranks and becomes the Grand Master of Nova Scotia.<br>
					1873: ALxander Keith passes away at the age of 78.<br>
					1917: Two munitions ships collide in Halifax Harbor, igniting the largerst manmade explosion in the pre-atomic era. Thousands are wounded or kiled. The brewey is spared from destruction.<br>
					1939: With a declaration of war on Germany, Halifax's population nearly doubles. Troops from all over Canada are introduced to teh taste of Alxander Keith's india Pale Ale.<br>
					1955: The Angus L. Macdonald Bridge opens, connecting Dartmouth to Halifax. And making it that much easier for Dartmouthians to get their hands on a Keith's.<br>
					1995: World leaders converge on Halifax for the G7 Summit. We can only assume they came for the Keith's.<br>
					2005: Alxander Keith's Red Amber Ale lands on shelves across Canada.<br>
					2008: Alexanfer Keith's Premium White joins the growing lineup of beers.<br>
					2012: The introdction of Alexander Keith's Original Cider.<br>
					2013: The Hop Series is introduced, consisting of Cascade Hop Ale, Hallertaur Hop Ale and The Hop Mason.<br>
					<a href="brewery_tour.html">Back to Homepage</a><br>
					</p>
				<content>
			</article>
			
		</div>
	</div>
	</body>
	
</html>
